* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

.post-title {
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--font);
  color: var(--primary);
  margin-left: -90px;
  text-align: center;
  margin-top: 50px;
}

.postcard-app {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;

  width: 90%;
  margin: auto;
}

.footer {
  margin-top: 50px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: var(--font);
  background-color: var(--primary);
  padding: 20px;
  color: var(--text-02);
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
}

.footer a {
  color: var(--text-02);
  margin-left: 50px;
}
