@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

:root {
  --bg: #e1c193;
  --primary: #264653;
  --secondary: #2a9d8f;
  --accent: #e9c46a;
  --highlight: #f4a261;
  --text: #3d405b;
  --text-02: #fff;

  --font {
    font-family: "Caveat", cursive;
  }

  --font-body {
    font-family: "Roboto", sans-serif;
  }

  --card: 0 6px 18px rgba(0, 0, 0, 0.06);
  --shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}
