@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Inter:wght@400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#F8F4EC;
    font-family:'Inter',sans-serif;
    color:#3D405B;
}

/* =========================
   HERO SECTION
========================= */

.hero-about{
    min-height:70vh;

    background:
    linear-gradient(
        rgba(38,70,83,0.75),
        rgba(38,70,83,0.75)
    ),
    url("/src/assets/about-bg.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;
}

.about-overlay{
    width:100%;
    max-width:900px;

    text-align:center;

    padding:20px;
}

.about-overlay h1{
    font-family:'Playfair Display',serif;
    font-size:4rem;
    color:#F8F4EC;
    margin-bottom:20px;
}

.about-overlay p{
    color:#F8F4EC;
    font-size:1.2rem;
    line-height:1.8;
}

/* =========================
   MISSION
========================= */

.mission{
    max-width:1000px;

    margin:80px auto;

    padding:60px;

    background:white;

    border-radius:24px;

    box-shadow:0 10px 30px rgba(0,0,0,0.08);

    text-align:center;
}

.mission h1{
    font-family:'Playfair Display',serif;

    color:#264653;

    font-size:3rem;

    margin-bottom:20px;
}

.mission p{
    font-size:1.1rem;

    line-height:1.9;
}

/* =========================
   STORY
========================= */

.story{
    padding:20px;
}

.story-card{
    max-width:1000px;

    margin:auto;

    background:white;

    padding:60px;

    border-radius:24px;

    border-left:8px solid #F4A261;

    box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.story-card h2{
    font-family:'Playfair Display',serif;

    color:#264653;

    font-size:2.7rem;

    margin-bottom:20px;
}

.story-card p{
    font-size:1.1rem;

    line-height:1.9;
}

/* =========================
   FUTURE VISION
========================= */

.vision{
    margin-top:80px;

    padding:100px 20px;

    background:linear-gradient(
        135deg,
        #264653,
        #2A9D8F
    );

    text-align:center;

    color:white;
}

.vision h2{
    font-family:'Playfair Display',serif;

    font-size:3rem;

    margin-bottom:20px;
}

.vision p{
    max-width:900px;

    margin:auto;

    line-height:1.9;

    font-size:1.1rem;
}

/* =========================
   MOBILE
========================= */

@media(max-width:768px){

    .overlay h1{
        font-size:2.8rem;
    }

    .overlay p{
        font-size:1rem;
    }

    .mission,
    .story-card{
        padding:30px;
        margin:40px 20px;
    }

    .mission h1,
    .story-card h2,
    .vision h2{
        font-size:2rem;
    }
}